.profile-top-bar {
    display: flex;
    margin-top: -25px;
    margin-left: -20px;
    width: 1670px;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для глубины */
  }
  
  .profile-top-bar h1 {
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #1C2526;
  }
  
  .profile-user-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .profile-user-info .profile-bell-icon {
    font-size: 20px;
    color: #4B5563;
  }
  
  .profile-user-info span {
    color: #1C2526;
    font-size: 16px;
  }
  
  .profile-user-info .profile-avatar {
    width: 35px;
    height: 35px;
    border-radius: 15%;
    object-fit: cover;
  }
  