.profile-sidebar {
    width: 500px; 
    background-color: #1A1D1F; 
    color: #FFFFFF;
    padding: 35px;
    padding-right: 110px;
    display: flex;
    flex-direction: column;
  }
  .profile-logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .profile-navigation ul, .profile-bottom-nav ul {
    list-style: none;
    padding: 0px;
  }
  
  .profile-navigation li, .profile-bottom-nav li {
    margin-bottom: 20px;
  }
  
  .profile-navigation a, .profile-bottom-nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    width: 170%;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .profile-navigation a:hover, .profile-bottom-nav a:hover {
    background-color: #2D3748; 
  }
  
  .profile-navigation .profile-active a {
    background-color: #3B82F6; 
    color: #FFFFFF;
  }
  
  .profile-bottom-nav {
    margin-top: auto; 
  }
  .profile-bottom-nav button{
    background-color: #1A1D1F; 
  }