.profile-sidebar {
    width: 200px; 
    background-color: #1A1D1F; /* Тёмный фон */
    color: #FFFFFF;
    padding: 25px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
  }
  .profile-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .profile-navigation ul, .profile-bottom-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .profile-navigation li, .profile-bottom-nav li {
    margin-bottom: 20px;
  }
  
  .profile-navigation a, .profile-bottom-nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .profile-navigation a:hover, .profile-bottom-nav a:hover {
    background-color: #2D3748; /* Эффект при наведении */
  }
  
  .profile-navigation .profile-active a {
    background-color: #3B82F6; /* Активный пункт меню */
    color: #FFFFFF;
  }
  
  .profile-bottom-nav {
    margin-top: auto; /* Нижняя навигация прижата к низу */
  }