@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.profile-sidebar {
  font-family: 'Poppins', sans-serif;
  width: 500px;
  background-color: #1A1D1F;
  color: #FFFFFF;
  padding: 30px;
  padding-right: 110px;
  display: flex;
  flex-direction: column;
}

.profile-logo {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: -22%;
  text-align: center;
  animation: glowIn 1s ease-out forwards;
}

.profile-navigation ul,
.profile-bottom-nav ul {
  list-style: none;
  padding: 1px;
}

.profile-navigation li,
.profile-bottom-nav li {
  margin-bottom: 20px;
}

.profile-navigation a,
.profile-bottom-nav a {
  color: #ffffff85;
  text-decoration: none;
  font-size: 16px;
  width: 145%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  gap: 15px;
  background-color: #1A1D1F;
  position: relative;
  transition: all 0.3s ease;
}

.profile-navigation a::after,
.profile-bottom-nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #D1D5DB;
  transition: width 0.3s ease;
}

.profile-navigation a:hover::after,
.profile-bottom-nav a:hover::after {
  width: 100%;
}

.profile-bottom-nav button.profile-logout-button {
  color: #EF4444;
  text-decoration: none;
  font-size: 17px;
  width: 140%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  gap: 15px;
  background-color: #1A1D1F;
  border: 1px solid #EF4444;
  cursor: pointer;
  transition: all 0.3s ease;
}

.svg-icon-sideheader {
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.profile-navigation a:hover .svg-icon-sideheader,
.profile-bottom-nav a:hover .svg-icon-sideheader,
.profile-bottom-nav button.profile-logout-button:hover .svg-icon-sideheader {
  transform: rotate(15deg);
}

.profile-navigation a:hover,
.profile-bottom-nav a:hover {
  background-color: #2D3748;
  color: #D1D5DB;
  transform: translateX(5px);
}

.profile-navigation .profile-active a,
.profile-bottom-nav .profile-active a {
  background-color: #3B82F6;
  color: #FFFFFF;
  font-weight: 600;
}

.profile-bottom-nav button.profile-logout-button:hover {
  background-color: #4B5563;
  color: #FCA5A5;
  transform: translateX(5px);
}

.profile-bottom-nav {
  margin-top: auto;
}

@keyframes glowIn {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: translateY(0);
  }
}
/*adaptive*/
@media (max-width: 1440px) and (min-width: 920px){
  
}

@media (max-width: 920px) and (min-width: 280px){
  .profile-sidebar{
    display: none;
  }
  
}